<h1>Bustle</h1>
<!-- {{#if userAdmin}}
  <button {{ action 'signIn'}}>Sign-Out</button>
{{else}}
  <button {{ action 'signIn'}}>Sign-In</button>
{{/if}} -->
{{#link-to 'admin'}}
  <button>Admin Area</button>
{{/link-to}}
