<h1>Bustle</h1>
<ul class="nav">
{{#link-to 'index'}}<li>Home</li>{{/link-to}}
{{#link-to 'about'}}<li>About</li>{{/link-to}}
{{#link-to 'contact'}}<li>Contact</li>{{/link-to}}
{{#link-to 'admin'}}<li>Admin</li>{{/link-to}}
</ul>
