.gallery{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.article {
  margin-right: 50px;
}
img {
  height: 400px;
  width: 400px;
}
form{
  padding: 20px;
  border: 1px dotted black;
}
.form-field {
  margin-top: 20px;
}
.nav {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
h1{
  text-align: center;
}
