.gallery{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.article {
  margin-right: 50px;
}
img {
  height: 400px;
  width: 400px;
}
form{
  padding: 20px;
  border: 1px dotted black;
}
.form-field {
  margin-top: 20px;
}
