{{outlet}}
<h1>Admin Panel</h1>
{{new-article create="create"}}
{{article-search search="search"}}
<div class="gallery">
  {{#each model as |article|}}
    {{#link-to 'admin-article' article.id}}
    {{article-tile article=article}}
    {{/link-to}}
  {{/each}}
</div>
